<!DOCTYPE html>

<html lang-"en">
<head>
  <meta charset="utf-8">
  <title>My Favorite Films</title>
</head>

<body bgcolor="#FAFAFA">
  <%= yield %>
  <p>
    <a href="/" style="text-decoration: none">Home</a>
     |
    <a href="/new_film" style="text-decoration: none">Add film</a>
  </p>
</body>

</html>
